{
	"plugins": [
		"@babel/plugin-syntax-dynamic-import",
		"inline-react-svg",
		"@babel/plugin-transform-modules-umd"
	],
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"esmodules": true
				}
			}
		], 
		"@babel/preset-react"
	]
}
